<div class="movie_video">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="left_content">
      <h2>Video</h2>
      <%= link_to "Add new video", new_video_path(movie) %>
      <div class="slick_slider">
        <% if movie.videos.count != 0 %>
          <% movie.videos.each do |video| %>
            <% if movie.videos.exists? %>
              <div class="single_iteam">
                <p><iframe width="300" height="200" src="<%= video.link %>"></iframe></p>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <p>This Video is unavailable</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
