<div id="follow-form-<%= user.id %>">
  <% if current_user.followed? user %>
    <%= render "relationships/unfollow", relationship: current_user
      .user_relationship(user) %>
  <% else %>
    <%= render "relationships/follow", user: user %>
  <% end %>
</div>
