<div class="container">
  <div class="row">
    <div class="col-sm-9 tab-style-1-content">
      <div class="row">
        <% reviews.each do |review| %>
          <%= render "movies/movie_review", review: review, movie: review.movie %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <hr>
          <%= will_paginate reviews %>
        </div>
      </div>
    </div>
  </div>
</div>
