<div id="content" class="pmd-content inner-page">
  <div class="container-fluid full-width-container about">
    <div class="page-content profile-edit section-custom">
      <div class="pmd-card pmd-z-depth">
        <div class="pmd-card-body">
          <div class="row">
            <%= render "devise/registrations/sidebar", user: @user %>
            <div class="col-lg-8 custom-col-8 profile-content">
              <div class="info-part">
                <%= render "devise/registrations/change_info", user: @user %>
                <%= render "devise/registrations/change_pass", user: @user %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
