<ul>
  <% if followings %>
    <% followings.each do |following| %>
      <%= render "pages/user", user: following %>
    <% end %>
    <div class="users-load-more">
      <%= link_to t("load_more"), follow_users_path(type: "following") %>
    </div>
  <% else %>
    <p class="no-content">
      <%= t "news_feed.no_content" %>
    </p>
  <% end %>
</ul>
