<ul>
  <% if followings %>
    <% followings.each do |following| %>
      <%= render "pages/user", user: following %>
    <% end %>
    <div class="users-load-more">
      <%= link_to follow_users_path(type: "following") do %>
        <i class="fa fa-eye" aria-hidden="true"></i>
        <%= t("load_more") %>
      <% end %>
    </div>
  <% else %>
    <p class="no-content">
      <%= t "news_feed.no_content" %>
    </p>
  <% end %>
</ul>
