<% provide :title, t("genres.index.all_genres") %>

<div class="container-fluid header-block">
  <h1 class="text-capitalize">
    <%= t "genres.index.all_genres" %>
  </h1>
</div>

<ul class="nav nav-tabs">
  <li class="genre-movie active">
    <a data-toggle="tab" href="#genre-movie"><%= t "pages.movie" %></a></li>
  <li class="genre-actor">
    <a data-toggle="tab" href="#genre-actor"><%= t "pages.actor" %></a></li>
</ul>

<div class="tab-content genre-content">
  <%= render "genres/genre_movie", genres: @genres, movies: @movies %>
</div>
