<div class="show-static-page">
  <div class="center jumbotron">
    <div class="hit-the-floor"><%= t "hello" %></div><br>
    <%= link_to new_user_registration_path, class: "btn btn-lg btn-primary signup1" do %>
      <i class="fa fa-user-plus" aria-hidden="true"></i>
      <%= t "sign-up-now" %>
    <% end %>
  </div>
</div>
