<div class="ltt-body-content">
  <div class="ltt-news-feed">
    <div class="left-news-feed">
      <%= render "left_news_feed", followings: @followings, know_users: @know_users %>
    </div>

  </div>
</div>
