<% provide :title, t("pages.home") %>
<div class="show-static-page">
  <div class="center jumbotron">
    <h1><%= t "hello" %></h1>
    <%= link_to "#", class: "btn btn-lg btn-primary" do %>
      <i class="fa fa-user-plus" aria-hidden="true"></i>
      <%= t "sign-up-now" %>
    <% end %>
  </div>
</div>
