<% provide :title, t("pages.home") %>
<% if user_signed_in? %>
  <div class="container">
    <div class="col-md-3 ta8">
      <div class="ltt-news-feed follow_bgr">
        <div class="left-news-feed">
          <%= render "left_news_feed", followings: @followings,
            know_users: @know_users %>
        </div>
      </div>
    </div>

    <div class="col-md-7 show-follow-images">
      <% @reviews.each do |review| %>
        <%= render "reviews/review", review: review, user: review.user,
          movie: review.movie %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= render "home_page" %>
<% end %>
