<% provide :title, t("pages.home") %>
<% if user_signed_in? %>
  <div class="container">
    <div class="col-md-3 ta8">
      <div class="ltt-news-feed follow_bgr">
        <div class="left-news-feed">
          <%= render "left_news_feed", followings: @followings,
            know_users: @know_users %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-md-6 show-follow-images">
      <% @reviews.each do |review| %>
        <% favorite = review.favorite_reviews.find_by review: review %>
        <%= render "reviews/review", review: review, user: review.user,
          movie: review.movie, favorite: favorite %>
      <% end %>
    </div>
    <div class="col-log-3 col-md-3 col-sm-12 col-xs-12 news-feed-right">
      <%= render "right_news_feed", top_movies: @top_movies,
        recent_movies: @recent_movies %>
    </div>
  </div>
<% else %>
  <%= render "home_page", genres: @genres, movies: @movies %>
<% end %>
