$white: #fff;
$navbar-border-top: rgba(255, 255, 255, .34);
$navbar-border-container: rgba(255, 255, 255, .16);
$navbar-form-control-background: rgba(255, 255, 255, .24);
$navbar-form-control-box-shadow: rgba(0, 0, 0, .2);
$navbar-form-control-color: rgba(255, 255, 255, .34);
$navbar-form-control-focus: rgba(255, 255, 255, .87);
$navbar-anchor-color: #515b6b;
$navbar-dropdown-anchor-after-color: #4d42a9;
$navbar-fixed-top-border-color: #19388a;
$navbar-fixed-top-shadow-color: rgba(0, 0, 0, .1);
$navbar-pmd-svg-icon-fill: #424c5c;
$navbar-search-form-border: rgba(66, 133, 244, .54);
$navbar-search-shadow: rgba(66, 133, 244, .12);
$navbar-search-svg: #7e8899;
$navbar-fixed-top-form-focus: rgba(255, 255, 255, .74);
$navbar-fixed-top-shadow: rgba(0, 0, 0, .12);
$navbar-sidebar-background: #272f3c;
$navbar-right-icon-background: rgba(0, 0, 0, .2);
$navbar-custom-border: rgba(255, 255, 255, .08);
$navbar-custom-background:  rgba(0, 0, 0, .16);
$navbar-sidebar-open-background: rgba(0, 0, 0, .34);
$navbar-nav-color: #b4afaf;
$aztec-approx: #0c1a1e;
$mountain-mist-approx: #999;
$delta-approx: #a0a3a4;
$blaze-orange-approx: #ff670f;
$black: #000;
$swiss-coffee-approx: #d9d6d6;
$stack-approx: #8f8f8f;
$gallery-approx: #ededed;
$background-book: rgba(246, 246, 246, .89);
$frame-start: #fffdfd;
$frame-end: #edeff0;
$frame: linear-gradient(120deg, $frame-start 25%, $frame-end 100%);
$frame-inverse: linear-gradient(120deg, $frame-end 0%, $frame-start 100%);
$relate-book-start: #f3e7e9;
$relate-book-mid: #e3eeff;
$relate-book: linear-gradient(to top, $relate-book-start 0%,
  $relate-book-mid 99%, $relate-book-mid 100%);
$send-req-start: #7de2fc;
$send-req-end: #b9b6e5;
$send-req: linear-gradient(35deg, $send-req-start 0%, $send-req-end 100%);
$background-book: rgb(249, 249, 249);
$shadow-light: rgba(0, 0, 0, .12);
$shadow-normal: rgba(0, 0, 0, .24);
$shadow-dark: rgba(0, 0, 0, .30);
$reply-toggle: #f4f4f4;
$reply-toggled: #e3e3e3;
$time-ago: #8f8f8f;
$blog-title: #bc0000;
$blog-title-dark: #4a0000;
$header: rgba(162, 86, 60, .74);
$star: #ded33a;
$desert-storm-approx: #f8f8f8;
$pesto-approx: #8a6d3b;
$champagne-approx: #faebcc;
$apple-blossom-approx: #a94442;
$oyster-pink-approx: #ebccd1;
$killarney-approx: #3c763d;
$beryl-green-approx: #d6e9c6;
$side-bar-active: #5fd9f7;
$menu-profile: #4c9cef;
$menu-profile-box-shadow-background: rgba(90, 91, 95, .15);
$comment-gray: #9b9b9b;
$ebony-clay-approx: #1e293d;
$concrete: #f2f2f2;
$fuscous-gray-approx: #555;
$mine-shaft-67: rgba(50, 50, 50, .67);
$mercury-approx: #e7e7e7;
$desert-storm-approx: #f8f8f8;
$concrete-approx: #f3f3f3;
$bg-dashboard-header: #0b1a33;
$white-opacity-10: rgba(255, 255, 255, .1);
$white-opacity-50: rgba(255, 255, 255, .5);
$white-opacity-0: rgba(255, 255, 255, 0);
$main-color-dark: #315a86;
$main-color-primary: #376696;
$main-color-light: #438dc8;
$main-color-lighter: #48a2e2;
$author-text: rgb(237, 255, 251);
$book-text: rgb(237, 255, 251);
$author-background: #386e9f;
$book-background: rgba(79, 178, 249, .18);
$menu-item-announcement-background: #d9d9d9;
$button-request-hover: rgba(0, 94, 216, .61);
$button-edit: #1abc9c;
$button-delete: #d9534f;
$author-name: #f00;
$request-table-head: #d4edee;
$request-table-strip: #f5fbfb;
$request-table-color: #8b4513;
$success-popup: #71c341;
$success-popup-color: #2c2928;
$button-success: #8ecf68;
$button-success-hover: #5a9f32;
$cancel-success: #259b24;
$cancel-success-background: #d1ffd1;
$cancel-failure: #ff1818;
$cancel-failure-background: #ffd7d7;
$button-submit-request: #3498db;
$input-request-background: #fbfbfb;
$input-request-color: #3c3c3c;
$form-request-background: rgba(95, 192, 255, .81);
$modal-background: #dfedf6;
$alert-cancel-background: #ffe7e7;
$alert-title: #575757;
$alert-content: #797979;
$button-create-request: #4e6cef;
$mine-shaft-approx: #333;
$alabaster-approx: #f9f9f9;
$cararra-approx: #ebebeb;
$wild-sand-approx: #f5f5f5;
$black-44: rgba(0, 0, 0, .44);
$waiting: #5bc0de;
$cancel-hover: #ba3b44;
$cancel: #d9534f;
$cancel-ok: #5cb85c;
$cancel-ok-hover: #0fa217;
$approved: #5cb85c;
$canceled: #f0ad4e;
$actived-child: #60c2e1;
$rejected: #d9534f;

//fonts
$font-open-sans: Open Sans;
$font-sans-serif: sans-serif;
$font-material: Material icons;
$font-lato: Lato;

//backgrounds
$aqua: #00bdbd;
$aquamarine: #7fffd4;
