@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

$gray-medium-light: #eaeaea;
$white: #fff;
$red1: #f00;
$yellow1: #ff0;
$green1: #0f0;
$blue1: #00f;
$mediumblue1: #036;

body {
  padding-top: 60px;

}

section {
  overflow: auto;

}

textarea {
  resize: vertical;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;

}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;

}

h2 {
  color: $gray-light;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;

}

p {
  font-size: 1.1em;
  line-height: 1.7em;

}

.show-static-page {

  .center {
    background-image: url('background1.jpg');
    margin-top: -10px;
    text-align: center;
    width: 100%;
    background-size: 100% 100%;
    height: 100vh;

    h1 {
      color: $white;
      margin-bottom: 100px;
      margin-top: 100px;

    }

    .btn-lg {
      font-weight: bolder;

    }
  }
}

.about {
  padding-right: 50px;
  width: 100%;

  h2 {
    font-size: 1.7em;
    font-weight: bolder;
    width: 100%;

  }

  .content-section-a {
    height: 400px;
    padding: 1px;
    width: 100%;

    h3 {
      margin-right: 1px !important;
      text-align: center;
      width: 800px;

    }

    .img-responsive {
      float: right;
      height: 300px;
      width: 300px;

    }
  }

  .content-section-b {
    border-bottom: 1px solid $gray-light;
    border-top: 1px solid $gray-light;
    padding: 50px;
    width: 100%;

    .img-responsive {
      height: 300px;
      width: 300px;

    }

    h3 {
      margin-left: 400px !important;
      text-align: center;
      width: 800px;

    }
  }

}

footer {
  border-top: 1px solid $gray-medium-light;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $red1;

    &:hover {
      color: $yellow1;

    }
  }
}

.header {
  background-color: $mediumblue1;

  .home > a {
    color: $yellow1;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;

    &:hover {
      color: $white;
      text-decoration: none;

    }
  }

  .sign-in > a {
    color: $yellow1 !important;
    font-size: 1.1em;
    font-weight: bold;

    &:hover {
      color: $white !important;

    }
  }

  .logo > a {
    color: $yellow1;
    float: left;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: -1px;
    margin-right: 10px;
    padding-top: 9px;
    text-transform: uppercase;

    &:hover {
      color: $white;
      text-decoration: none;

    }
  }

  .btn-primary {
    background-color: $mediumblue1;
    margin-bottom: 5px;
    margin-right: 50px;
    margin-top: 5px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;

  }
}
