@import "colors";

.wrapper {
  background: $white !important;
}

%extend-1 {
  border-radius: 100%;
  bottom: -22px;
  color: $white;
  font: 400 12px / 45px $font-lato, $font-sans-serif;
  height: 45px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  width: 45px;
  z-index: 9;
}


.tab-style-1-content {
  .box-outer {
    background-color: $white;
    border: 2px solid $mercury-approx;
    border-radius: 3px;
    display: inline-block;
  }

  .box-outer::before {
    border: 5px solid $ebony-clay-approx;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: -5px;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: 9;
  }

  .box-outer {
    &:hover::before {
      height: 100%;
      opacity: 1;
      width: 91%;
    }

    &:hover .frame .caption {
      opacity: 1;
      transform: rotate(0deg);
      visibility: visible;
      z-index: 999;
    }
  }

  .box {
    .frame {
      background: $desert-storm-approx;
      float: left;
      margin: 0;
      padding: 30px 0;
      position: relative;
      width: 100%;

      .caption {
        bottom: 0;
        height: 120px;
        left: 15px;
        margin: auto;
        opacity: 0;
        position: absolute;
        top: 0;
        transform: rotate(90deg);
        visibility: hidden;
        width: 34px;
        z-index: 9999;

        a {
          background: $white;
          color: $black;
          float: left;
          font-size: 14px;
          height: 34px;
          line-height: 34px;
          margin: 3px 0;
          text-align: center;
          width: 34px;

          &:hover {
            background: $main-color-light;
            color: $white;
          }
        }
      }

      span {

        &.onsale {
          @extend %extend-1;
        }

        &.sale {
          @extend %extend-1;
        }

        &.cut-sale {
          border-radius: 100%;
          bottom: -22px;
          color: $white;
          font: 400 12px / 14px $font-open-sans, $font-sans-serif;
          height: 45px;
          padding: 7px 0 0;
          position: absolute;
          right: 0;
          text-align: center;
          text-transform: uppercase;
          width: 45px;
          z-index: 9;
        }
      }

      .img-frame {
        border-radius: 3px;
        box-shadow: 0 1px 5px 0 $mine-shaft-67;
        display: block;
        height: 200px;
        margin: 0 auto;
        overflow: hidden;
        width: 150px;

        > a {
          float: left;
          position: relative;
          width: 100%;
          z-index: 999;
        }
      }
    }

    .text-column {
      box-sizing: border-box;
      float: left;
      height: 120px;
      overflow: hidden;
      padding: 12px 15px;
      position: relative;
      width: 100%;
      z-index: 99;

      span {
        color: $white;
        display: block;
        font: 700 12px / 12px $font-open-sans, $font-sans-serif;
        padding: 0 0 5px;
        text-transform: uppercase;

        a {
          color: #badfff
        }
      }

      em {
        color: $fuscous-gray-approx;
        display: block;
        font: normal 12px / 12px $font-open-sans, $font-sans-serif;
        padding: 0 0 20px;
      }

      h3 {
        margin: 5px 0 10px;

        a {
          color: $white;
          text-shadow: 1px 0 0 $white;
        }
      }

      .price {
        float: left;
        font: 700 20px / 20px $font-open-sans, $font-sans-serif;
        padding: 0 0 20px;
      }
    }
  }
}

.header-block {
  align-items: center;
  background: $black url('banner.jpg') no-repeat left top / cover;
  color: $white;
  display: flex;
  height: 45vh;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -10px;

  h1 {
    border-left: 3px solid $white;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 10px;
    padding-left: 10px;
  }

  h1,
  h2 {
    text-shadow: 2px 2px 0 $black;
  }
}

:focus {
  outline: none;
}

.side-menu {
  background-color: $desert-storm-approx;
  border-radius: 3px;
  border-right: 1px solid $mercury-approx;
  height: 100%;
  width: 100%;

  .navbar {
    border: 0;
  }

  .navbar-header {
    border-bottom: 1px solid $mercury-approx;
    width: 100%;
  }

  .navbar-nav {
    li {
      border-bottom: 1px solid $mercury-approx;
      display: block;
      width: 100%;

      a {
        padding: 15px;

        .glyphicon {
          padding-right: 10px;
        }
      }
    }

    .active a {
      background-color: transparent;
      border-right: 5px solid $mercury-approx;
      margin-right: -1px;
    }
  }

  #dropdown {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;

    .caret {
      float: right;
      margin: 9px 5px 0;
    }

    .indicator {
      float: right;
    }

    > a {
      border-bottom: 1px solid $mercury-approx;
    }

    .panel-body {
      background-color: $concrete-approx;
      padding: 0;

      .navbar-nav {
        width: 100%;

        li {
          border-bottom: 1px solid $mercury-approx;
          padding-left: 15px;

          &:last-child {
            border-bottom: 0;
          }
        }
      }

      .panel-body {
        margin-left: -15px;

        li {
          padding-left: 30px;

          &:last-child {
            border-bottom: 1px solid $mercury-approx;
          }
        }
      }

      .panel > a {
        margin-left: -20px;
        padding-left: 35px;
      }
    }
  }

  .brand-name-wrapper {
    min-height: 50px;

    .navbar-brand {
      display: block;
    }
  }
}

.side-body {
  margin-left: 310px;
}

@media(max-width: 768px) {
  .side-menu {
    border-bottom: 1px solid $mercury-approx;
    border-right: 0;
    height: 0;
    position: relative;
    width: 100%;

    .brand-name-wrapper .navbar-brand {
      display: inline-block;
    }
  }

  @keyframes slidein {
    0% {
      left: -300px;
    }

    100% {
      left: 10px;
    }
  }

  @keyframes slideout {
    0% {
      left: 0;
    }

    100% {
      left: -300px;
    }
  }

  @keyframes bodyslidein {
    0% {
      left: 0;
    }

    100% {
      left: 300px;
    }
  }

  @keyframes bodyslideout {
    0% {
      left: 300px;
    }

    100% {
      left: 0;
    }
  }

  .side-body {
    animation: bodyslideout 300ms forwards;
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    transform-style: preserve-3d;
  }

  .body-slide-in {
    animation: bodyslidein 300ms forwards;
    transform-style: preserve-3d;
  }

  .navbar-toggle {
    background-color: $concrete-approx;
    border: 0;
    border-radius: 0;
    float: left;
    margin: 0;
    padding: 18px;
  }

  .navbar-header {
    background-color: $desert-storm-approx;
    position: fixed;
    z-index: 3;
  }

  .side-menu-container > .navbar-nav {
    animation: slideout 300ms forwards;
    background-color: $desert-storm-approx;
    border-right: 1px solid $mercury-approx;
    height: 100%;
    left: -300px;
    position: fixed;
    top: 43px;
    transform-style: preserve-3d;
    width: 300px;

    &.slide-in {
      animation: slidein 300ms forwards;
      transform-style: preserve-3d;
    }
  }

  #dropdown .panel-body .navbar-nav {
    margin: 0;

    a {
      font-size: large;
      color: white;
    }
  }
}

.genre-header {
  .col-sm-3 {
    padding-top: 10px;
  }
}
