$black-color: #000;
$primary-color: #f8f8f8;
$secondary-color: #e7e7e7;
$thirddary-color: #423d3d;
$white-color: #fff;
$yellow-color: #fed136;
$yellow-dark: #fec503;
$gray-light: #eee;
$white-dark: #e9ebee;

.ltt-news-feed {
  background-color: $gray-light;
  min-height: 100vh;
  min-width: 1000px;
  padding: 20px;
  padding-top: 60px;

  ul {
    padding: 0;

    li {
      list-style: none;
    }
  }

  .images-upload-modal {
    margin-top: 50px;
  }

  .ltt-news-feed-left {
    border-right: 1px solid $gray-light;
    float: left;
    left: 20px;
    margin-right: 40px;
    padding-left: 0 !important;
    padding-top: 10px;
    position: fixed;

    h3 {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    hr {
      margin: 0 !important;
      margin-bottom: 5px !important;
      margin-top: 5px !important;
    }

    ::-webkit-scrollbar {
      background: transparent;
      width: 0;
    }
  }

  .news-feed-left-content {
    height: calc(100vh - 110px);
    overflow-y: scroll;
    margin-bottom: 15px;

    .avatar-news-feed-left {
      border-radius: 100%;
      height: 30px;
      width: 30px;
    }

    a {
      color: $black-color !important;

      .followed-users {
        border-bottom: 1px solid $gray-light;
        margin-bottom: 10px;
        padding-bottom: 5px;
      }

      p {
        text-align: center;
      }
    }
  }

  .ltt-news-feed-right {
    box-shadow: 1px 2px 4px 1px $gray-light !important;
    float: right;
    padding-top: 10px;
    position: fixed;
    right: 20px;

    h3 {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    hr {
      margin: 0 !important;
      margin-bottom: 5px !important;
      margin-top: 5px !important;
    }

    ::-webkit-scrollbar {
      background: transparent;
      width: 0;
    }
  }

  .news-feed-right-content {
    height: calc(100vh - 110px);
    overflow-y: scroll;

    p {
      text-align: center;
    }

    .image-news-feed-populars {
      margin-bottom: 10px;

      .popular-images-like {
        float: right;
        margin-right: 5px;
      }

      .popular-images-comment {
        float: right;
      }
    }
  }

  .ltt-news-feed-middle {
    background-color: $white-color;
    box-shadow: 0 2px 4px $gray-light !important;
    left: calc(16.6666667% + 40px);

    ::-webkit-scrollbar {
      background: transparent;
      width: 0;
    }

    .news-feed-middle-content {
      h3 {
        margin: 0;
        padding: 0;
        text-align: center;
      }

      hr {
        margin: 0 !important;
        margin-bottom: 5px !important;
        margin-top: 5px !important;
      }

      p {
        text-align: center;
      }
    }
  }

  .news-feed-upload-images {
    box-shadow: 1px 2px 4px 1px $black-color !important;
    margin-bottom: 30px;
    margin-top: 100px;
    padding: 10px;

    .avatar-upload-images {

      .avatar-upload {
        border: 1px solid $black-color;
        display: block;
        float: left;
        height: 50px;
        margin-right: 10px;
        width: 50px;
      }
    }

    .upload-images-content {
      overflow: hidden;

      textarea {
        border: 0;
      }
    }
  }

  @media(max-width: 1000px) {
    .ltt-news-feed-left {
      float: left;
      position: static;
    }

    .ltt-news-feed-right {
      float: right;
      position: static;
    }

    .ltt-news-feed-middle {
      left: 0 !important;
    }
  }
}

.ltt-body-content {
  background-color: $white-dark;
  min-height: 100vh;
  min-width: 1000px;
  padding: 20px !important;
  padding-top: 50px !important;
}

.ltt-body-content::before,
.ltt-body-content::after {
  clear: both;
  content: " ";
  display: table;
}
