@import "colors";

.fileinput {
  display: inline-block;
  margin-bottom: 9px;
  margin-right: 10px;
  overflow: hidden;
  transition: .4s ease-in-out;
  width: 200px;

  .form-control {
    cursor: text;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 7px;
    vertical-align: middle;
  }

  .thumbnail {
    background-color: $desert-storm-approx;
    display: inline-block;
    height: 200px;
    margin-bottom: 5px;
    min-height: 50px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 200px;

    > img {
      height: 100%;
      width: 100%;
    }
  }

  .btn {
    vertical-align: middle;

    &.btn-default {
      background-color: $black;
    }
  }

  &.input-group {
    display: table;

    > * {
      position: relative;
      z-index: 2;
  }

    > .btn-file {
      z-index: 1;
  }
  }

  &:hover .action-button {
    opacity: 1;
  }
}

.fileinput-new {

  .fileinput-exists {
    display: none;
  }

  &.input-group .btn-file {
    border-radius: 0 4px 4px 0;

    &.btn-xs {
      border-radius: 0 3px 3px 0;
    }

    &.btn-sm {
      border-radius: 0 3px 3px 0;
  }

    &.btn-lg {
      border-radius: 0 6px 6px 0;
  }
}

  .input-group .btn-file {
    border-radius: 0 4px 4px 0;

    &.btn-xs {
      border-radius: 0 3px 3px 0;
    }

    &.btn-sm {
      border-radius: 0 3px 3px 0;
    }

    &.btn-lg {
      border-radius: 0 6px 6px 0;
    }
  }
}

.fileinput-filename {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.form-group {
  &.has-warning .fileinput {
    .fileinput-preview {
      color: $pesto-approx;
    }

    .thumbnail {
      border-color: $champagne-approx;
    }
  }

  &.has-error .fileinput {
    .fileinput-preview {
      color: $apple-blossom-approx;
    }

    .thumbnail {
      border-color: $oyster-pink-approx;
    }
  }

  &.has-success .fileinput {
    .fileinput-preview {
      color: $killarney-approx;
    }

    .thumbnail {
      border-color: $beryl-green-approx;
    }
  }
}

.fileupload {
  .uneditable-input {
    display: inline-block;
    height: 28px !important;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .thumbnail {
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;

    > img {
      display: inline-block;
      max-height: 100%;
      vertical-align: middle;
    }
  }

  .btn {
    background-color: $white !important;
    font-size: 15px;
    min-width: 36px;
    padding: 5px 10px;
    vertical-align: middle;
  }

  .fileupload-preview {
    vertical-align: middle;
  }

  .close.fileupload-exists {
    vertical-align: middle;
  }
}

.fileupload-new {
  .fileupload-exists {
    display: none;
  }

  .input-append .btn-file {
    border-radius: 0 3px 3px 0;
  }
}

.action-button {
  bottom: 15px;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: .4s ease-in-out;
  width: 100%;
}

.prousername {
  margin-bottom: 20px;
}

.pmd-card {
  margin-bottom: 0;
}

.component-section {
  margin-bottom: 20px;
  margin-top: 30px;

  h2 {
    margin-top: 0;
  }
}

.component-box {
  margin-bottom: 20px;

  .pmd-card.pmd-card-inverse h3 {
    color: $white;
    line-height: 1.4;
    text-transform: capitalize;
  }

  .pmd-card-body > .btn {
    margin: 5px 2px;
  }
}

.component-desc {
  font-size: 14px;
  margin-top: 4px;
}

@media(max-width: 767px) {
  .component-section {
    margin-top: 0;
  }
}

.table-title-top-action {
  margin-top: 20px;

  .btn {
    margin-left: 20px;
  }
}

.pmd-table-row-action {
  width: 156px;

  a {
    margin: -8px 0;
  }
}

.direct-expand {
  i::before {
    content: "\e148";
    font-family: $font-material;
  }

  &.child-table-collapse i::before {
    content: "\e15D";
  }
}

.login-card-section {
  max-width: 400px;
}

.shadow-demo {
  margin-bottom: 30px;
  min-height: 100px;
}

.fileinput-exists .fileinput-new {
  display: none;
}

.fileinput-inline .fileinput-controls {
  display: inline;
}

.form-control .fileinput-filename {
  vertical-align: bottom;
}

.input-group-addon:not(:first-child) {
  border-left: 0;
}

.btn.btn-file {
  min-width: 36px;
  overflow: hidden;
  padding: 5px 5px 4px;
  position: relative;
  vertical-align: middle;

  .dic {
    font-size: 20px;
  }

  .upload-avatar {
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.fileupload-exists .fileupload-new {
  display: none;
}

.fileupload-inline .fileupload-controls {
  display: inline;
}

.btn-file .ripple-wrapper {
  display: none;
}

.profile-edit .pmd-textfield .form-control-static {
  padding-top: 4px;
}

.floating-action-custom .pmd-floating-action {
  position: relative;
}

.range-slider-container .pmd-card {
  min-height: 90px;
}

.menu-portfolio-item {
  width: 200px;
}

.portfolio {
  list-style: none;
  padding: 30px 10px;
  text-align: center;
}

.portfolio li {
  border: 0;
  color: $white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  margin: 2px 8px;
  padding: 8px 12px;
  text-transform: capitalize;
}

.portfolio a {
  color: $white;
}

.portfolio li:hover {
  border: 0;
  color: $black;
}

.portfolio .active {
  background-color: $side-bar-active;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 $menu-profile-box-shadow-background;
  color: $white;
  padding: 5px 20px;
}

.profile-edit {
  .info-part {
    transform: scale(1);
    transition: .5s;
    margin-top: 30px;
  }

  .fav-movie-part {
    height: 0;
    transform: scale(0);
    transition: .5s;
  }
}

.dropdown-item {
  transform: scale(0);
  transition: transform .5s;

  span {
    background: transparent;
    border-radius: 25px;
    padding: 7px 40px;
    transition: background.3s;
  }
}

.filter {
  font-weight: bold !important;
  transition: .3s;
}

.active-child {
  span {
    background: $actived-child;
    border-radius: 25px;
    box-shadow: 0 1px 2px 0 $menu-profile-box-shadow-background;
    padding: 7px 40px;
  }
}

.reject {
  background: $rejected;
}

.cancel {
  background: $canceled;
}

.approve {
  background: $approved;
}

.not-approve {
  background: $waiting;
  transition: .3s;
}

.cancel-ok,
.cancel-back {
  border-radius: 3px;
  box-shadow: 1px 2px 10px $menu-profile-box-shadow-background;
  display: none;
  font-size: 13px;
  padding: 3px 7px !important;
  transition: .3s;
}

.cancel-ok {
  background: $cancel-ok;

  &:hover {
    background: $cancel-ok-hover;
  }
}

.cancel-back {
  background: $cancel;

  &:hover {
    background: $cancel-hover;
  }
}

.borrow-row {
  background: transparent;
  transition: 2s;
}

.border-table {
  border-top: .25px solid $menu-profile-box-shadow-background;
}

.status-btn {
  border-radius: 2px;
  color: $white;
  font-weight: bold;
  padding: 5px 10px;
}


.pro {
  background-color: rgba(0, 51, 102, 0.12);
  height: 50px;
  text-align: center;
  padding: 15px;
  font-weight: 800;
}

.width-input {
  width: 500px;
}
