.search-index {
  margin-top: 20px;
}

.show-result {
  padding: 5px;
  margin-bottom: 20px;

  .result-movies,
  .result-actors {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
  }

  .result-movies:hover,
  .result-actors:hover {
    background-color: #f7db12;
  }

  .result-actors-list {
    display: none;
  }

  .active {
    background-color: #f7db12;
  }
}
.result-movies-list,
.result-actors-list {
  margin: 40px 20px 20px -30px;
}

.a-seach-show {
  margin-top: 20px;
  margin-bottom: 30px;
  .head {
    margin-bottom: 30px;
  }

  .genres-list {
    .genre-check-box {
      -webkit-transform: scale(1.2);
    }

    .genre-name {
      margin-right: 10px;
      font-size: 18px;
      padding: 0 5px;
    }
  }
}

.as-list-movie-item {
  margin-bottom: 20px;
}
