body {
  padding-top: 50px;
}

li.media {
  position: relative;
}

li.media a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: #FFF;
  opacity: 0;
  filter: alpha(opacity=1);
}
