<span class="activity">
  <span class="review-like">
    <%= render "activities/like", review: review, activity: activity %>
  </span>

  <span class="review-dislike">
    <%= render "activities/dislike", review: review, activity: activity %>
  </span>
</span>
