<span class="activity">
  <span class="review-like <%= review.id %>">
    <%= render "activities/like", review: review, activity: activity %>
  </span>

  <span class="review-dislike <%= review.id %>">
    <%= render "activities/dislike", review: review, activity: activity %>
  </span>
</span>
