<%= link_to review_activities_path(review, activity_type: :like),
  remote: true, method: :post, class: "activity-like" do %>
  <i class="fa fa-thumbs-up" aria-hidden="true"></i>
  <span class="review-like-size"><%= review.likes.size %></span>
  <%= t "review_action.like" %>
<% end %>
